.container {
    display: flex;
    align-items: center;  
    border-bottom: 0.5px solid #c4c4c4; 
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    z-index: 1000;
    position: fixed; 
    justify-content: space-around;
    top: 39px; 
    width: 100%;
    background-color:rgb(255, 255, 255);
    padding: 10px 20px; 
}

.exclusive {
    color: #383838;
}

.menu {
    display: flex; 
    gap: 3rem;  
    color: black;
    font-weight:bolder;
}

.menu p {
    cursor: pointer; 
}
.menu p:hover {
    text-decoration: underline; 
}
.section-head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}