.cuadradito{
    display: inline-block;
    bottom: 80px;
    position: relative;
    width: 18px;
    height: 42px;
    background-color: #DB4444;
    left: 90px;
    border-radius: 5px;
}
.headers{
    display: flex;
    position: relative;
    bottom: 130px;
    left: 120px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #DB4444;
}
.title-section{
    position: relative;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 35px;
    font-style: normal;
    bottom: 130px;
    left: 90px;

}