.container-categories-wrapper{
    font-family: "Inter", sans-serif;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
}
.products-horizontal {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 44px;
    grid-auto-rows: 350px;
    width:100px;
}
.whistList2{
    top: 14px;
    z-index: 1;
    right: 14px;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(230, 230, 230);
}
.container-ourProducts{
    position: relative;
}
.container-ourProducts:hover .addToCart2 {
    opacity: 1;
    visibility: visible;
}
.container-img-our-products {
    display: flex;
    position: relative;
    flex-direction: column;
    bottom: 100px;
    left: 100px;
}
.img-our-products {
    width: 255px;
    height: 200px;
    border-radius: 4px;
}
.cuadro-our-products{
    display: flex;
    bottom: 100px;
    position: relative;
    width: 18px;
    height: 42px;
    background-color: #DB4444;
    left: 100px;
    border-radius: 5px;
}
.name-section{
    display: flex; 
    position: relative;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    bottom: 150px;
    left: 130px;
    color: #DB4444;
}
.description-section{ 
    position: relative;
    font-family: "Poppins", sans-serif;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 35px;
    font-style: normal;
    bottom: 150px;
    left: 100px;
}
.botons-our-products{
    display: flex;
    position: relative;
    top: 20px;
    left: 90px;
}
.container-boton-all{
    display: flex;
    position: relative;
    bottom: 50px;
    left: 90px;
} 