.search-container{
    display: inline-block;
    position: relative;
    left: 390px;
    top: 0.5rem;
}
.button-search{
    position:absolute;
    display: inline-block;
    border: none;
    background-color: rgb(240, 240, 240);
    height: 37px;
    width: 30px;
    right: 5px;
    border-radius: 5px;
} 
.input-search{
    border: none;
    background-color: rgb(240, 240, 240);
    height: 35px; 
    width: 230px;
    border-radius: 5px;
}
.input-search::placeholder{
    text-align: left;
    padding-left: 18px;
}
.input-search:focus {
    border: none;
    outline: none;
}